@font-face {
    font-family: "Charis";
    src : url("../fonts/Charis-regular.woff");
}

@font-face {
    font-family: "Charis";
    font-weight: bold;
    src : url("../fonts/Charis-bold.woff");
}

$theme1-1: #000000;
$theme1-2: #3e3636;
$theme1-3: #d72323;
$theme1-4: #f5eded;

$theme2-1: #222831;
$theme2-2: #2d4059;
$theme2-3: #ff5722;
$theme2-4: #eeeeee;

$theme3-1: #303841;
$theme3-2: #3a4750;
$theme3-3: #f6c90e;
$theme3-4: #eeeeee;

$theme4-1: #dbd8e3;
$theme4-2: #5c5470;
$theme4-3: #352f44;
$theme4-4: #2a2438;

$theme5-1: #222831;
$theme5-2: #393e46;
$theme5-3: #00adb5;
$theme5-4: #eeeeee;

$main: $theme2-1;
$sub: $theme2-2;
$contrast: $theme2-3;
$highlight: $theme2-4;

$font5: 'Charis';

