@import 'vars';

.calendar {
    align-items: flex-start;
    color: $highlight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -80px;
    max-width: 1100px;
    text-align: left;
    width: 100%;
    
    &__more {
        bottom: 0;
        color: $highlight;
        font-size: 18px;
        opacity: .5;
        position: fixed;
        right: 0;
        text-decoration: none;
        transition: opacity .1s;
        background: none;
        border: 0;
        font-family: 'Charis';
        padding: 20px 18px;
        &:focus {
            outline: none;
            -webkit-tap-highlight-color: transparent;
        }
    }
    
    &__reload {
        background: none;
        border: 0;
        color: $highlight;
        cursor: pointer;
        font-size: 18px;
        margin-top: 12px;
        padding: 0;
        user-select: none;
        
        &:focus {
            -webkit-tap-highlight-color: transparent;
            outline: none;
        }
        
        &:active {
            color: $contrast;
        }
    }
}
