@import 'vars';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
	background: $sub;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
    &:focus {
        -webkit-tap-highlight-color: transparent;
    }
}

#app {
    background-color: $sub;
    background-image: linear-gradient(315deg, $sub 0%, $main 74%);
    // background-image: linear-gradient(147deg, $sub 0%, $main 74%);
    height: 100vh;
    font-family: 'Charis';
}

.container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 0 5vw 0 15vw;
    
    @media screen and (max-width: 640px) {
        padding: 0 32px;
    }
}

.header {
    color: $contrast;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 1.1em;
    user-select: none;
}

.header-bright {
    color: $highlight;
    font-size: 32px;
    letter-spacing: 0.4px;
    line-height: 1em;
    margin-bottom: 24px;
}

.subheader {
    color: $highlight;
    font-size: 16px;
    letter-spacing: 0.3px;
    margin-bottom: 18px;
    opacity: .3;
}

.link {
    top: 12px;
    color: $highlight;
    font-size: 15px;
    opacity: .2;
    position: fixed;
    right: 6px;
    text-decoration: none;
    transition: opacity .1s;
    &:hover {
        opacity: 1;
    }
    
    &:active,
    &:focus {
        color: $highlight;
    }
    
    &:visited {
        color: $highlight;
    }
}

.all-caps {
    text-transform: uppercase;
}
